<nav class="d-flex flex-row justify-content-center">
    <input type="text"
           (change)="filter = $event.target.value"
           class="form-control mr-3"
           placeholder="Search">
    <div ngbDropdown>
        <button class="btn btn-dark" ngbDropdownToggle
                type="button">Images per page: {{imagesPerPage}}</button>
        <ul ngbDropdownMenu
            (click)="imagesPerPage = $event.target.innerHTML">
            <li ngbDropdownItem>5</li>
            <li ngbDropdownItem>10</li>
            <li ngbDropdownItem>15</li>
        </ul>
    </div>
</nav>

<app-images
    [images]="images"
    [page]="page"
    [imagesPerPage]="imagesPerPage"
    (deleteEmitter)="delete($event);"
></app-images>

<ngb-pagination
    *ngIf="images.length"
    [(page)]="page"
    [pageSize]="imagesPerPage"
    [collectionSize]="images.length"
    [maxSize]="5"
    [rotate]="true"
    [ellipses]="false"
    [boundaryLinks]="true"
></ngb-pagination>

<button
    class="btn btn-dark rounded-circle bottom-right-navigator-button"
    routerLink="/add"
></button>
