<nav>
    <div ngbDropdown>
        <button class="btn btn-outline-dark btn-block mb-2" type="button" ngbDropdownToggle="">{{currentDomain.name}}</button>
        <ul ngbDropdownMenu>
            <li *ngFor="let domain of domains"
                ngbDropdownItem
                (click)="currentDomain = domain">{{domain.name}}</li>
        </ul>
    </div>
</nav>
<nav class="d-flex flex-row justify-content-center">
    <input type="text"
           [(ngModel)]="filter"
           (keyup)="filterImages();"
           class="form-control mr-3"
           placeholder="Search">
    <div ngbDropdown>
        <button class="btn btn-dark" ngbDropdownToggle
                type="button">Images per page: {{imagesPerPage}}</button>
        <ul ngbDropdownMenu>
            <li ngbDropdownItem *ngFor="let i of [5,10,15];"
                (click)="imagesPerPage = i;"
            >{{i}}</li>
        </ul>
    </div>
</nav>

<main class="d-flex flex-row flex-wrap justify-content-center">
    <section class="card mx-5 my-2"
             *ngFor="let image of filteredImages | slice:(page-1)*imagesPerPage:page*imagesPerPage">
        <img [src]="image.image" class="card-img image">
        <div class="card-body">
            <p class="card-text text-center">{{image.title}}</p>
        </div>
    </section>
</main>

<ngb-pagination
    *ngIf="filteredImages.length"
    [(page)]="page"
    [pageSize]="imagesPerPage"
    [collectionSize]="filteredImages.length"
    [maxSize]="5"
    [rotate]="true"
    [ellipses]="false"
    [boundaryLinks]="true"
></ngb-pagination>
