<main class="d-flex flex-row flex-wrap justify-content-center">
    <section class="card mx-5 my-2"
        *ngFor="let image of images | slice:(page-1)*imagesPerPage:page*imagesPerPage">
        <img [src]="image.url" class="card-img image">
        <div class="card-body">
            <p class="card-text text-center">{{image.title}}</p>
            <div class="d-flex flex-row flex-nowrap justify-content-around">
                <button type="button" class="btn btn-warning m-2" (click)="edit(image);">Edit</button>
                <button type="button" class="btn btn-danger m-2" (click)="delete(image.id)">Delete</button>
            </div>
        </div>
    </section>
</main>
